#feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

#feature .text__container {
  width: 40%;
}

#feature .featured__img {
  width: 50%;
}

#feature .text__container .feature__title {
  margin-bottom: 3rem;
}

#feature .text__container .feature__desc {
  font-size: 19px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 2rem;
  width: 80%;
  letter-spacing: 1px;
  line-height: 2;
}

#feature .text__container .divider {
  width: 2px;
  height: 100px;
  background-color: var(--clr-black);
}
