#hero {
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 20%;
}

#hero .hero__title {
  font-weight: 800;
  margin-bottom: 1rem;
}

#hero .hero__sub {
  font-weight: 500;
  margin-bottom: 2.5rem;
}

#hero .hero__desc {
  font-size: 20px;
  width: 50%;
  margin-bottom: 2rem;
  font-weight: 500;
}

#hero .btn {
  font-size: 18px;
}
