#header {
  position: relative;
  padding: 2rem;
}

#header .header__menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

#header .header__menu .menu {
  font-size: 18px;
}

#header .header__menu .icon {
  font-size: 28px;
}

#header .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#header .container .text__container {
  width: 35%;
  align-self: center;
}

#header .container .text__container .header__title {
  margin-bottom: 3rem;
}

#header .container .text__container .header__desc {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 2rem;
}

#header .container .text__container .divider {
  width: 2px;
  height: 100px;
  background-color: var(--clr-black);
}
