html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    padding-left: 24px;

}

p {
    color: rgb(51, 51, 51) ;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
   width: 500px;
   height: 400px; 
}

article {
    float: left;
    width: 60%;
}
aside {
    display:inline-block;

}