#hero {
    height: 370px;
    /* overflow: hidden; */
    position: relative;
    margin-bottom: 2rem;
    
}

#hero .hero__img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

#hero:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
}


#hero .main__info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#hero .main__info .title {
    color: var(--clr-white);
    font-size: 60px;
}

#hero .main__info .main__desc{
    display: flex;
   gap: 24px;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    font-size: 24px;
    margin-bottom: 2rem;
}

#hero .main__info .main__desc .desc__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#hero .wp__logo {
    width: 40%;
    position: absolute;
    top:500px;
    position: absolute;
    top: 150px;
    left: -150px;
    opacity: 0.5;
    transform: rotate(30deg);

}