.header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-neutral-900);
    padding: 6px 24px;
    position: relative;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
  
    display: flex;
    align-items: center;
  }
  
  .header .header__logo {
    width: 104px;
  }
  
.header__wrapper {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}