#hero {
  position: relative;
  width: 88%;
  margin: 0 auto;
}

#hero .hero__img {
  width: 100%;
}

#hero .hero__wrapper {
  position: absolute;
  top: 250px;
  left: 180px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--clr-white);
  padding: 1.5rem;
}

#hero .hero__wrapper .hero__title {
  font-weight: 500;
  margin-bottom: 1rem;
}

#hero .hero__wrapper .hero__btn {
  background-color: var(--clr-blue-btn);
  color: var(--clr-white);
  border: none;
  border-radius: 50px;
  font-size: 30px;
  padding: 0.5rem 3.5rem;
  cursor: pointer;
}
